<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <!-- If you delete this meta tag World War Z will become a reality -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foundation 5</title>

  <!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/foundation.css')}}">
  
  <!-- If you are using the gem version, you need this only -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">

  <script src="{{url_for('static', filename='js/vendor/modernizr.js')}}"></script>

	<!-- Google Font-->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
	<style>
	.lato{font-family: 'Lato', sans-serif;}
	
	.inner-wrap {
  width: auto; }

.move-right .inner-wrap {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  margin-left: 114px; }

.left-off-canvas-menu {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  position: fixed;
  width: 0;
  height: 100%; }

.move-right .left-off-canvas-menu {
  width: 114px; }

.move-right .exit-off-canvas {
  display: none; }

.left-off-canvas-toggle {
  display: none;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 3rem;
  color: #333;
  transition: all .25s ease-in-out; }
  .left-off-canvas-toggle:focus {
    color: #333; }
  .left-off-canvas-toggle:hover {
    color: #8c8c8c;
    transition: all .25s ease-in-out; }

.ad-block {
  margin-bottom: 2rem; }
	</style>

</head>
<body>

  <!-- body content here -->
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

<div class="off-canvas-wrap move-right" data-offcanvas>
  <div class="inner-wrap">

    <a class="left-off-canvas-toggle" href="#"><i class="fi-list"></i></a>

    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu">
      
      <div class="icon-bar vertical five-up">
      <a class="item">
        <i class="fi-home"></i>
        <label>Home</label>
      </a>
      <a class="item">
       <i class="fi-home"></i>
        <label>Bookmark</label>
      </a>
      <a class="item">
        <i class="fi-home"></i>
        <label>Info</label>
      </a>
      <a class="item">
        <i class="fi-home"></i>
        <label>Mail</label>
      </a>
      <a class="item">
        <i class="fi-home"></i>
        <label>Like</label>
      </a>
    </div>
      
    </aside>

    <!-- main content goes here -->
    <header class="row">
      <div class="small-12 columns">
        <h1 class="text-center">Off-canvas Sidebar</h1>
      </div>
    </header>
    
    <div class="row ad-block">
      
      <div class="medium-6 medium-push-6 columns">
        <img src="https://ununsplash.imgix.net/photo-1429277005502-eed8e872fe52?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="" />
      </div>
      
      <div class="medium-6 medium-pull-6 columns">
        
        <p>Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>
        <button>Read On</button>
        <button>Buy Me</button>
      </div>
      
    </div>
    
    <div class="row ad-block">
      
      <div class="medium-6 columns">
        <img src="https://ununsplash.imgix.net/photo-1429277005502-eed8e872fe52?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="" />
      </div>
      
      <div class="medium-6 columns">
        <p>Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>
        <button>Read On</button>
        <button>Buy Me</button>
      </div>
      
    </div>
    
    <div class="row ad-block">
      
      <div class="medium-6 medium-push-6 columns">
        <img src="https://ununsplash.imgix.net/photo-1429277005502-eed8e872fe52?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="" />
      </div>
      
      <div class="medium-6 medium-pull-6 columns">
        <p>Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>
        <button>Read On</button>
        <button>Buy Me</button>
      </div>
      
    </div>
    
    <div class="row ad-block">
      
      <div class="medium-6 columns">
        <img src="https://ununsplash.imgix.net/photo-1429277005502-eed8e872fe52?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="" />
      </div>
      
      <div class="medium-6 columns">
        <p>Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>
        <button>Read On</button>
        <button>Buy Me</button>
      </div>
      
    </div>
    

    <!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>

  </div>
</div>

  <!-- Foundation -->
  <script src="{{url_for('static', filename='js/vendor/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/foundation.min.js')}}"></script>

  <script>
    $(document).foundation();
  </script>
  
  <script>
  function sideNav() {
  if ($(window).width() < 769) {
    $('.off-canvas-wrap').removeClass('move-right');
    $('.left-off-canvas-toggle').show();
  } else {
    $('.off-canvas-wrap').addClass('move-right');
    $('.left-off-canvas-toggle').hide();
  }  
}

$(window).resize(function() {
  sideNav();
});
	</script>
</body>
</html>