{% extends "base.html" %}

{% block title %}
NY Taxi
{% endblock title %}

{% block header %}
NY Taxi
{% endblock header %}

<!--extra style for map-->
{% block extrastyle %}
	<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
	<link href='{{url_for("static", filename="css/easy-button.css")}}' rel='stylesheet'/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<style>
	body, html {
    padding: 0;
    margin: 0;
	}
	html, body, #map {
    	height: 100%;
    	min-height: 100px;
	}
	</style>
{% endblock extrastyle %}

<!--extra js for map-->
{% block extrajs_front %}
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
	<script src="{{url_for('static', filename='js/easy-button.js')}}"></script>
	<script>
	
	var geojsonMarkerOptions = {
		radius: 5,
		fillColor: "#ff7800",
		color: "#ff7800",
		weight: 1,
		opacity: 0.8,
		fillOpacity: 0.2
	};

	var state_pickup_dropoff = "pickup";
	var state_trip_distance = "alltrip";
	
	var geojsonLayer=L.geoJson();

	jQuery(window).resize(function() {
		jQuery("#map").height($(window).height());
	});
	
	function loadGeoJson(){	
		queryStr= state_pickup_dropoff + ":" + state_trip_distance;
		jQuery.getJSON("/loaddata/" + queryStr, function(data) {
			map.removeLayer(geojsonLayer);
			geojsonLayer = L.geoJson(data, {
				pointToLayer: function (feature, latlng) {
					return L.circleMarker(latlng, geojsonMarkerOptions);
				}
			});
			geojsonLayer.addTo(map);
		});	
	}
	
	</script>		
{% endblock extrajs_front %}

{%block rightpane %}
<div id="map"></div>
{% endblock rightpane %}


{% block extrajs %}
	<script>
	//Resize the map onload	
	jQuery("#map").height($(window).height());

	//Create the map and tilesLayer	
	var map = L.mapbox.map('map').setView([40.7073, -74.006], 13);
	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
		id: 'jackyma.nbhe11nj',
		accessToken: 'pk.eyJ1IjoiamFja3ltYSIsImEiOiJiMzJiM2Y4OGE2ODk3Y2NhMjcyZDgwN2QxYmRkZWUyZSJ9.GsWNZSqJziWBlci-06UaoA'
		}).addTo(map);

	map.addLayer(geojsonLayer);
	loadGeoJson("pickup");


	var button_cal = L.easyButton( 'fa-calendar', function(control){
		 alert('"filter by weekday"');
	})

	var button_clock = L.easyButton( 'fa-clock-o', function(control){
		 alert('"filter by time"');
	})
	
	var button_bar = L.easyBar([button_cal, button_clock]);
	button_bar.addTo(map);
	
	L.easyButton({
		states: [{
			stateName: 'add-markers',
			icon: 'fa-taxi',
			title: 'taxi',
			onClick: function(control) {
				map.removeLayer(geojsonLayer);
				control.state('remove-markers');
			}
		}, {
			stateName: 'remove-markers',
			title: 'remove markers',
			icon: 'fa-stop',
			onClick: function(control) {
				map.addLayer(geojsonLayer);
				control.state('add-markers');
			}
		}]
	}).addTo(map);


	L.easyButton( 'fa-dollar', function(control){
		 alert('"expensive query here"');
	}).addTo(map);	
	
	L.easyButton({
		states: [{
			stateName: 'pickup',
			title: 'pickup',
			icon: 'fa-arrow-circle-up',
			onClick: function(control) {
				geojsonMarkerOptions.fillColor="#336600";
				geojsonMarkerOptions.color="#336600";
				state_pickup_dropoff = "dropoff";
				loadGeoJson();
				control.state('dropoff');
			}
		}, {
			stateName: 'dropoff',
			title: 'dropoff',
			icon: 'fa-arrow-circle-down',
			onClick: function(control) {
				geojsonMarkerOptions.fillColor= "#ff7800";
				geojsonMarkerOptions.color= "#ff7800";		
				state_pickup_dropoff = "pickup";
				loadGeoJson();
				control.state('pickup');
			}
		}]
	}).addTo(map);

	
	L.easyButton({
		states: [{
			stateName: 'alltrip',
			title: 'alltrip',
			icon: 'fa-arrows',
			onClick: function(control) {
				state_trip_distance = "longtrip";
				loadGeoJson();
				control.state('longtrip');
			}
		},{
			stateName: 'longtrip',
			title: 'longtrip',
			icon: 'fa-expand',
			onClick: function(control) {
				state_trip_distance = "shorttrip";
				loadGeoJson();
				control.state('shorttrip');
			}
		}, {
			stateName: 'shorttrip',
			title: 'shorttrip',
			icon: 'fa-compress',
			onClick: function(control) {
				state_trip_distance = "alltrip";
				loadGeoJson();
				control.state('alltrip');
			}
		}]
	}).addTo(map);

	</script>
	

{% endblock extrajs %}	